<?xml version="1.0" encoding="UTF-8"?>
<!--
@brief      Log4j2 configuration for Trk21: A Groovy version of the
            1973 BASIC-PLUS program TREK.BAS
@author     Terry Ebdon
@date       18-FEB-2019
@copyright
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<Configuration status="WARN">
    <Properties>
        <Property name="logLevel">error</Property>
        <Property name="logPath">logs</Property>
        <Property name="filePattern">Trk21-test-%d{yyyy-MM-dd}.log</Property>
        <Property name="Trk21Pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %c{1} %msg%n</Property>
    </Properties>
    <Appenders>
        <RollingFile name="testLog" fileName="${logPath}/Trk21-test.log"
                     filePattern="${logPath}/${filePattern}">
            <PatternLayout>
                <pattern>${Trk21Pattern}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="net.ebdon.trk21" level="${logLevel}" additivity="false">
            <appender-ref ref="testLog" level="${logLevel}"/>
        </Logger>
    </Loggers>
</Configuration>
